* {
    margin: 0;
    padding: 0;
}

.text-prim {
    color: #97A87A;
}

.bg-prim {
    background-color: #97A87A;
}

.text-accent {
    color: #FFA239;
}

.bg-accent {
    background-color: #FFA239;
}

.text-sec {
    color: #A8BBA3;
}

.bg-sec {
    background-color: #A8BBA3;
}