* {
    margin: 0;
    padding: 0;
}

.text-prim {
    color: #FDF5E6 !important;
}

.bg-prim {
    background-color: #FDF5E6!important;
}

.text-accent {
    color: #FFB347!important;
}

.bg-accent {
    background-color: #FFB347!important;
}

.text-subtle {
    color: #E8D7FF!important;
}

.bg-subtle {
    background-color: #E8D7FF!important;
}

.text-sec {
    color: #5D5D5D!important;
}

.bg-sec {
    background-color: #5D5D5D!important;
}

.text-shadow {
    text-shadow: 0px 0px 3px black;
}

.carousel-item img {
    height: 500px;
    object-fit: cover; /
    width: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 20px;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px;
    }
}